* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-wrapper {
  padding: 12px;
  background-color: var(--card-color);
  border-radius: var(--border-radius);
  transition: color 0.3s var(--n-bezier),
  background-color 0.3s var(--n-bezier),
  box-shadow 0.3s var(--n-bezier),
  border-color 0.3s var(--n-bezier);
}
